.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 0;
    width: 100vw;
    background-color: white;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}